<mat-toolbar class="header mat-elevation-24">
    <span>
        <a>
            <img class="logo" src="assets/img/tec.jpg" alt="tecnologia">
        </a>
    </span>
    <span class="title-group">
    <a>
        <div class="title">TECNOLOGIAS MUNDIAIS</div>
        <i class="material-icons"> home </i>
        <p>Home</p> 

        <i class="material-icons"> build </i>
        <p>Configurações</p> 

        <i class="material-icons"> info </i>
        <p>Sobre</p> 
    </a>
    </span>
</mat-toolbar>
