<mat-toolbar class="header mat-elevation-24">
    <span>
            <img class="img" src="assets/img/tec.jpg" alt="tecnologia">
    </span>
        <a class="logo" routerLink="/">TECNOLOGIAS MUNDIAIS</a>
        <div class="header-right">
        <a routerLink="/">
            <i class="material-icons"> home </i>
            home
        </a>

        <a routerLink="/eletronics">
            <i class="material-icons"> shopping_cart </i>
            Eletronicos
        </a>

        <a routerLink="/about">
            <i class="material-icons"> info </i>
            Sobre
        </a>
    </div>
</mat-toolbar>
