.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #5317a1;
    height: 100px;
    color: rgb(189, 143, 228);
}

.footer span{
    font-size: 1rem;
    font-style: 300;
}
