.sidenav{
    margin-left: 10px;
    height: 70%;
    color: rgb(255, 255, 255);
}

.material-icons{
    border: none;
    margin: 15px;
    background-color: rgb(189, 134, 240);
}

span{
    margin: 15px;
}

p{
    color: #5317a1;
    padding: 10px;
}