.container{
    height: 71%;
}

.sidenav{
    width: 200px;
    background-color: #794cb4;
}

.sidenav a{
    color: rgb(189, 143, 228);
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: rgb(229, 202, 240);
}