<mat-sidenav-container class="sidenav">

    <mat-sidenav #variavelLocalSidenav mode="side">
    
      <span>
          <p>Microcomputadores</p>
          <p>Sensores</p>
          <p>Módulos de comunicação</p>
          <p>Drones</p>
          <p>Robôs</p>
          <p>3D</p>
      </span>
    
    </mat-sidenav>
    
    <mat-sidenav-content>
    
      <button class="material-icons" (click)="variavelLocalSidenav.toggle()"> reorder </button>
    
    </mat-sidenav-content>
    
    </mat-sidenav-container>
